<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ir.bppir.pishtazan">

    <uses-permission android:name="android.permission.READ_CONTACTS" />


    <application
        android:name=".views.application.PishtazanApplication"
        android:allowBackup="true"
        android:icon="@drawable/pishtaz_logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/pishtaz_logo"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".views.activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".background.NotificationReceiver">
            <intent-filter>
                <action android:name="ML_Ignore"/>
                <action android:name="ML_Calling"/>
                <action android:name="ML_Later"/>
            </intent-filter>
        </receiver>

    </application>

</manifest>